
.main-nav{
  background-color: whitesmoke;

}


.navbar {
  height:80px;
  background-color: whitesmoke;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  align-items: center;
  position: relative;
}

.rigth {
  display: flex;
  gap: 10px;
}

.nav {
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav:hover {
  color: blue;
}

.nav {
  color: black;
  text-decoration: none;
}

.logo {
  height: 80px;
  width: 90px;
  object-fit: fill;
}

.alr {
  font-family: 'Playfair Display', 'Poppins', serif;
  font-weight: 700;
  font-size: 2.5rem;
  background: linear-gradient(90deg, #003332, #034c36, #bdcdcf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: all 0.4s ease;
}
.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 130px;
  bottom: 15px;
  /* padding-right: 100px;
  padding-bottom: 10px; */
}

h4 {
  color: #024034;
  padding: 0;
  margin: 0;
  /* margin-left: 30px auto; */
}

.line {
  width: 100%;
  height: 1px;
  background-color: grey;
}

.rooms {
  display: flex;
  /* gap: 50px; */
  align-items: center;
  justify-content:space-between ;
  padding-left: 200px;
  padding-right: 200px;
}
